.contact {

    //.contact__title
    &__title {
        text-align: center;
    }

    .title {
        border-bottom: 1px solid $color-primary;
    }

    // .contact__text
    &__text {
        text-align: center;
    }

    // .contact__contacts
    &__contacts {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

        @include respond(phone) {
            display: block;
        }
    }

    &__link {
        color: $color-font-secondary;
        text-decoration: none;
    }

    &__link:hover {
        color: $color-primary;
    }

    // .contact__item
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 2rem;
    }

    &__item:last-child {
        grid-column: auto;

        @include respond(tab-port) {
            grid-column: 1 / span 2;
        }
    }

    // .contact__icon
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        background-color: $color-bachground-secondary;
        border-radius: 50%;
        border: 3px solid $color-white;
        margin-bottom: 1.5rem;
    }

    img {
        display: inline-block;
        width: 35px;
        height: 35px;
    }

    .heading-2::after {
        display: none;
    }
}