.contact {

    //.contact__title
    &__title{
        text-align: center;
    }

    .title{
        border-bottom: 1px solid $color-primary;
    }

    // .contact__text
    &__text {
        text-align: center;
    }

    // .contact__contacts
    &__contacts {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 33%;
            height: 100%;
        }
    }

    &__link{
        color: $color-font-secondary;
        text-decoration: none;
    }

    &__link:hover{
        color: $color-primary;
    }

    // .contact__item
    &__item {
       
    }

     // .contact__icon
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        background-color: $color-bachground-secondary;
        border-radius: 50%;
        border: 3px solid $color-white;
        margin-bottom: 1.5rem;
    }

    img {
        display: inline-block;
        width: 35px;
        height: 35px;
    } 

    .zoom-in {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transition: all 250ms ease;
        -moz-transition: all 250ms ease;
        -o-transition: all 250ms ease;
        -ms-transition: all 250ms ease;
        transition: all 250ms ease;
    }
    .zoom-in:hover {
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
    }

    // .contact__name
    &__name {
        
    }

    // .contact__skype
    &__skype {
    }

    // .contact__email

    &__email {
        
    }

    // .contact__phone

    &__phone {
    }
}

