.home {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $color-font-secondary;
     z-index: 10;
		// .home__content
		&__content {

		}

		// .home__picture
		&__picture {

		}
    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-44%, -42%) rotate(-45deg);
    }
}

.heading-primary {
   position: relative;
    &--main{
       
    }
    &--sub{
    
    }

    &::after{
       
    }
}

.heading-primary::after{
    content: '';
    height: 3px;
    min-width: 75px;
    background-color: $color-primary;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
}

