.heading-primary--main{
  
    font-weight: 300;
      span{
        font-weight: 600;
      }
}

.heading-primary{
    font-size: $fs-xlarge;
    font-family: $font-primary;
    line-height: .8em;
    color: $color-primary;
    white-space: nowrap;
}



.heading-2 {
    font-family: $font-primary;
    font-weight: 400;  
    font-size: $fs-large;
    line-height: 1.25em;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    color: $color-primary;
    @include respond(tab-port){
        font-size: $fs-large-tablet;
    }
    @include respond(phone){
        font-size: $fs-large-phone;
    }
}

.heading-2::after{
    content: '';
    height: 3px;
    min-width: 75px;
    background-color: $color-primary;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.heading-3{
    font-family: $font-primary;
    font-weight: 400;
    font-size: $fs-600;
    line-height: 1.25em;
    text-align: center;
    text-transform: uppercase;
    @include respond(tab-port){
        font-size: $fs-600-tablet;
    }
    @include respond(phone){
        font-size: $fs-600-phone;
    }

}

.heading-4{
    font-weight: 400;
    font-family: $font-primary;
    line-height: 1.25em;
    text-align: center;
    text-transform: uppercase;
}

.heading--color-primary{
    color: $color-font-primary;
}

.heading--color-secondary{
    color: $color-font-secondary;
}